/************************** TAG SELECTORS ********************/
body {
  color: #40514E;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin: 0;
  text-align: center;
}

a {
  color: #11999E;
  text-decoration: none;
}

h1 {
  color: #66BFBF;
  font-family: 'Grand Hotel', cursive;
  font-size: 4rem;
  line-height: 2;
  margin: 2.56rem auto 0;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
}

h3 {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #EAF6F6;
  width: 10%;
  margin: 100px auto;
}

p {
  line-height: 1.7;
}

/************************ TOP CONTAINER **********************/
.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.description {
  font-weight: normal;
}

/************************** MIDDLE CONTAINER *******************/
.profile {
  width: 25%;
  margin: 50px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.edit-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.global-img {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  padding-bottom: 50px;
}
/************************** BOTTOM CONTAINER *******************/
.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.7em;
}
/************************** BUTTON CONTAINER *******************/
.btn-class {
  display: inline-block;
  border: none;
  color: #fff;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  font-family: Verdana;
  width: auto;
  height: auto;
  font-size: 16px;
  padding: 10px 40px;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to top, #66BFBF, #66BFBF);
  background-color: #66BFBF;
}

.btn-class, .btn-class:active {
  border: none;
  color: #fff;
  background-color: #fcdf5b;
}
